{% extends "mysite/base.html" %}
{% block content %}
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'mysite-home' %}">Fresh Start</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'mysite-home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'mysite-resources' %}">Resources</a>
                        <a class="nav-item nav-link" href="{% url 'mysite-blog' %}">Blog</a>
                        <a class="nav-item nav-link" href="{% url 'mysite-about' %}">About</a>
                    </div>

                </div>
                
            </div>
        </nav>
    </header>
    <h1>Resources</h1>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bounce Back by Checkr</h5>
          <p class="card-text">Bounce Back is a volunteer-based committee within Checkr whose goal is to break down barriers and 
              build opportunities for candidates facing employment struggles as a result of a prior record. We believe everyone, 
              regardless of their background or history, deserves a fair chance to work—and Bounce Back is on a mission to create that fair chance.</p>
          <a href="https://checkr.com/blog/how-were-breaking-barriers-and-building-opportunities-with-bounce-back" class="btn btn-primary" target="_blank">Learn More</a>
        </div>
      </div>
      
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">70 Million Jobs</h5>
          <p class="card-text">70 Million Jobs is the first national for-profit employment platform to help those with records find employment.
              Their goal is to present great companies that offer second chance jobs for people with criminal records.</p>
          <a href="https://www.70millionjobs.com/" class="btn btn-primary" target="_blank">Learn More</a>
        </div>
      </div>
      
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Jails to Jobs</h5>
          <p class="card-text">Jails to Jobs, a Section 501(c)(3) nonprofit, is an organization that gives previously incarcerated and soon-to-be-released
               men and women the tools they need to find employment. It educates and informs this population through workshops in jails and prisons 
               in Northern California. The organization also maintains a searchable directory of free and low-cost tattoo removal programs across the U.S. that now has more than 300 
               programs in 42 states.</p>
          <a href="https://jailstojobs.org/" class="btn btn-primary" target="_blank">Learn More</a>
        </div>
      </div>
{% endblock content %}